
title {
    visibility: hidden;
    width: 100px;
    background-color: #8512d5;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
}

rect:hover > title {
    visibility: visible;
}

.sense{
    cursor: pointer;
}

.book{
    cursor: pointer;
}

.book:hover > title {
    visibility: visible;
}