.sense{
    cursor: pointer;
    position: relative;
}
/*
.sense:not(.show) {
    display: none;
}

rect[data-attest]{
    cursor: pointer;
}

.attestation:not(.show) {
    display: none;
}*/

.map {
    display: flex;
    flex-direction: column;
}


/*default language*/

.la {
    display: none;
}


.sense title {
    visibility: hidden;
    width: 100px;
    background-color: #8512d5;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
}

.sense:hover title {
    visibility: visible;
}





