.marker {
    color:purple;
    font-weight: bold;
}

.scope {
    color:darkgreen;
    font-weight: bold;
}

.participant {
    font-weight: bold;
    color: darkolivegreen;
}

.negation {
    font-weight: bold;
}