.wrapper {
    overflow: hidden;
}

.title:after {
    content:'[+]';
    display: inline-block;
    position: relative;
    padding-left: 0.6em;
}
.title.active:after {
    content:'[-]';
    display: inline-block;
    position: relative;
    padding-left: 0.6em;
}
.title:hover {
    cursor: pointer;
}

.content {
    transition: display .5s;
    /*transform: translateY(-100%);*/
    display: none;
}
.content.show {
    /*transform: translateY(0);*/
    display: inline-block;
}


.content{
    padding-left: 1em;
}
